:root {
    --black: #000;
    --green: #9bcab8;
    --gary: #eaeaea;
    --gray-dark: #676767;
    --secondary: #ca9bad;
    --skill-1: 80%;
    --shadow: 0px 4px 10px #bdbdbd;
    --radius: 5px;

    --surface-color: lightgray;
    --curve: 40;
}

* {
    box-sizing: border-box;
}

/* general */

body {
    overflow-x: hidden;
    font-size: 16px;
    margin: 0 !important;
    color: var(--black);
    direction: rtl;
    font-family: 'Almarai', sans-serif;
    background-color: var(--gary);
}

* {
    outline: none;
    box-sizing: border-box;
}

/* cover */

.cover {
    width: 100%;
    padding: 40px 20px;
    background-color: var(--green);
}

.cover__container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 6px;
    border-radius: var(--radius);
}

.cover-image {
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: var(--radius);
}

.cover-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.cover-info {
    width: calc(100% - 250px);
    padding: 0 30px;
    position: relative;
}

.cover-info h1 {
    margin-top: 0;
    font-size: 36px;
}

.cover-info p {
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 0;
}

/* common  */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: white;
    border-radius: var(--radius);
    padding: 15px 20px;
    min-height: 350px;
    width: 100%;
    box-shadow: var(--shadow);
}

.card>h2 {
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;

}

.card>h2>p {
    font-weight: normal;
    color: var(--gray-dark);
    font-size: small;
    display: inline;
}

.line {
    display: flex;
    flex-direction: column;
}

.line:not(:last-child) {
    margin-bottom: 20px;
}

.line__head {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.line__head i {
    margin-left: 10px;
    color: var(--secondary);
}

.line__head h3 {
    margin: 0;
}

.line__head h4 {
    width: 100%;
    margin: 6px 0 0 0;
    color: var(--secondary);
}

.line__body p {
    margin: 0;
    line-height: 25px;
    font-size: 18px;
}

/* page container */

.page-body {
    width: 100%;
    padding: 50px 20px;
}

.page-body__container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

/* skills section */
/* 
.skills__holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    display: flex;
    align-items: center;
    width: 100%;
}

.skill:not(:nth-last-child(-n+2)) {
    margin-bottom: 20px;
}

.skill__info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skill__info__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill__info__head h2 {
    margin: 0;
    font-size: 18px;
}

.skill__info__head span {
    font-weight: bold;
}

.skill__info__bar {
    position: relative;
    width: 100%;
    height: 15px;
    margin-top: 5px;
    background-color: var(--gary);
}

.skill__info__bar .layer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transition: all 0.5s ease;
    background-color: var(--secondary);
}

.skill:hover .layer {
    background-color: var(--green);
}

.skill:hover .skill__icon i {
    color: var(--green);
} */



/* skills */

.skills .skills__holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills .skills__holder .skill {
    display: flex;
    width: 200px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}


.skill__icon img {
    width: 200px;
    height: 200px;
}

.skill__name {
    margin-top: 10px;
}

.skill__name h2 {
    font-size: 24px;
    font-weight: bold;

}

/* work */

.image-holder {
    width: 100%;
    height: 500px;
    position: relative;
    display: inline-block;
}

.image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-holder .overlay {
    position: absolute;
    opacity: 0;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gary);
    transition: 0.3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-holder:hover .overlay {
    opacity: 0.9;
    top: 0;
    top: 0;
}

.visit-btn {
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    background-color: var(--gray-dark);
    color: var(--black);
    font-weight: 700;
    opacity: 1;
    display: grid;
    place-items: center;
    margin-top: 10px;
}

.slides-BTNS .prev i,
.slides-BTNS .next i {
    color: var(--gray-dark) !important;
}

.work-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* work cards */

.work-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 20px;
    padding: 0;
    list-style-type: none;
}

.work-card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}

.work-card__image {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}

.work-card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.work-card:hover .work-card__overlay {
    transform: translateY(0);
}

.work-card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--gary);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.work-card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.work-card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.work-card:hover .work-card__header {
    transform: translateY(0);
}

.work-card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.work-card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.work-card__description {
    padding: 2em 2em;
    margin: 0;
    color: white;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}


/* reviews */

.review-holder {
    height: 350px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review-holder>p {
    position: relative;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    padding-right: 20px;
}

.review-holder>p:after {
    content: 'â€';
    position: absolute;
    top: 11px;
    color: #848484;
    right: -15px;
    height: 40px;
    width: 20px;
    font-size: 77px;
}

.review-holder>h3 {
    margin: 10px 0 0 0;
    font-size: 20px;
}

/* slider */

.slides-container {
    position: relative;
}

.slides-BTNS {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 23px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.slides-BTNS>span {
    padding: 0 20px;
}

.prev i,
.next i {
    cursor: pointer;
    width: auto;
    color: white;
    font-size: 40px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* contact */

.contact-desc {
    font-size: 18px;
    color: var(--gray-dark);
}

.ltr {
    direction: ltr;
    float: right;
}

/* footer */

footer {
    padding: 20px;
    background-color: var(--black);
}

footer p {
    text-align: center;
    color: white;
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#reviews .prev i,
#reviews .next i {
    color: black;
}

#reviews .slides-BTNS>span {
    padding: 0 10px;
}


/* responsive */

/* greater than 900px */


@media (min-width: 900px) {
    .card--full {
        width: 100% !important;
    }

    .card--half {
        width: 48% !important;
    }

    .row:not(:last-of-type) {
        margin-bottom: 45px;
    }

    .skill {
        width: 48%;
    }
}

/*-smaller than 900px-*/

@media (max-width: 900px) {
    .card {
        margin-bottom: 30px;
    }

    .cover__container {
        flex-direction: column;
        padding: 20px;
    }

    .cover-info h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .cover-info {
        width: 100%;
        padding: 0;
    }

    .image-holder {
        height: 250px;
    }

    .skill:not(:last-child) {
        margin-bottom: 20px;
    }
}

/*-smaller than 820px-*/
@media (max-width: 820px) {
    .skills .skills__holder .skill {
        width: 150px;
        margin: 10px;
    }

    .skill__icon img {
        width: 150px;
        height: 150px;
    }
}


/*-smaller than 420px-*/

@media (max-width: 420px) {
    .work-details {
        font-size: 14px;
    }

    .card>h2>p {
        display: none !important;
    }

    .slides-BTNS>span>i {
        font-size: 25px !important;
    }

    .review-holder>p {
        font-size: 14px;
    }

    .review-holder {
        height: auto;
    }

    .card {
        min-height: auto;
    }

    .skills .skills__holder .skill {
        width: 100px;
        margin: 10px;
    }

    .skill__icon img {
        width: 100px;
        height: 100px;
    }

    .work-card__title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .work-card__header {
        padding: 0.6em;
    }

    .work-card__image {
        margin-bottom: 30px;
    }
    ul.work-cards{
        margin: 0 0 20px 0;
    }
    .work-card__description{
        padding: 15px;
    }
}
