<div class="card card--half" data-aos="fade-up" data-aos-duration="1000">
    <h2>تواصل معي</h2>
    <p class="contact-desc">يمكنك التواصل معي عبر الوسائل الآتية </p>
    {{ range .Site.Data.contact }}
        <div class="line">
            <div class="line__head">
                <i class="{{ .icon }}"></i>
                <h3>{{ .title }}</h3>
            </div>
            <div class="line__body">
                <p class="ltr">
                    {{ .content }}
                </p>
            </div>
        </div>
    {{ end }}
</div>