{{ range .Site.Data.work }}

<ul class="work-cards">
    <li>
        <a href="{{.link}}" class="work-card" target="_blank">
            <img src="{{.src}}" class="work-card__image" alt="" />
            <div class="work-card__overlay">
                <div class="work-card__header">
                    <svg class="work-card__arc" xmlns="http://www.w3.org/2000/svg">
                        <path />
                    </svg>
                    <div class="work-card__header-text">
                        <h3 class="work-card__title">{{ .title }}</h3>
                    </div>
                </div>
                <p class="work-card__description">اضغط للذهاب للموقع</p>
            </div>
        </a>
    </li>
</ul>
{{end}}