<div class="card card--full">
    <h2>أعمالي السابقة <p>اضغط على الصورة للذهاب للعمل</p>
    </h2>

    <div class="slides-container" id="work">

        <div class="slide-container__wraper">

            {{ range .Site.Data.work }}

            <div class="slides fade">
                <div class="image-holder">
                    <div class="overlay">
                        <h2 class="work-details"> {{.title}}
                            <a class="visit-btn" target="_blank" href="{{ .link }}">
                                اذهب الى الموقع
                            </a>
                        </h2>
                    </div>
                    <a href="{{ .link }}" >
                        <img src="{{ .src }}" alt="معرض الاعمال">
                    </a>
                </div>
            </div>

            {{ end }}

        </div>

        <div class="slides-BTNS">
            <span class="next"><i class="fas fa-chevron-right"></i></span>
            <span class="prev"><i class="fas fa-chevron-left"></i></span>
        </div>

    </div>

</div>